@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #2d3748;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e0;
}

::-webkit-scrollbar-thumb:hover {
    background: #718096;
}

.sidebar-nav-active {
    @apply flex items-center mt-4 py-2 px-6 bg-gray-700 bg-opacity-25 text-gray-100;
}

.sidebar-nav-inactive {
    @apply flex items-center mt-4 py-2 px-6 text-gray-500;
}

.sidebar-nav-inactive:hover {
    @apply bg-gray-700 bg-opacity-25 text-gray-100;
}
